.ftco-navbar-light .navbar-brand {
  color: #fff;
  font-family: 'Knewave', cursive;}

.ftco-navbar-light .navbar-brand span {
  color: #8de876; }


.ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #8de876; }
.ftco-navbar-light.scrolled .nav-item.active > a {
      color: #8de876 !important; }

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
      color: #8de876; }
.btn.btn-primary {
        background: #8de876 !important;
        border: 1px solid #8de876 !important;
        color: #fff !important; }
.btn.btn-primary:hover {
          border: 1px solid #8de876;
          background: transparent;
          color: #8de876; }
.btn.btn-primary.btn-outline-primary {
          border: 1px solid #8de876;
          background: transparent;
          color: #8de876; }
.btn.btn-primary.btn-outline-primary:hover {
            border: 1px solid transparent;
            background: #8de876;
            color: #fff; }
.owl-carousel.home-slider .slider-item .slider-text .absolute:after {
              position: absolute;
              top: 15px;
              right: 0;
              width: 5px;
              height: 30px;
              content: '';
              background: #8de876; }
.owl-carousel.home-slider .slider-item .slider-text .img-video {
                display: block;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background: #8de876;
                -webkit-animation: pulse 2s infinite;
                animation: pulse 2s infinite;
                position: absolute;
                bottom: 10%;
                right: 35%;
                margin-right: -30px; }
.droneshot { width: 80%;}
.fab {font-size: 4rem;
      color: black;}
.fas {font-size: 5rem;
      color: black;}
